@{
    ViewBag.Title = "Index";
}

<div id="featured" class="container">
    <div>
        <h2 class="heading-title">Fusce ultrices fringilla metus</h2>
    </div>
    <div id="fbox1">
        <div class="box-content">
            <h2 class="title title01">Nulla luctus eleifend</h2>
            <p>Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque quis.</p>
        </div>
        <div>
            <h2 class="title title02">Maecenas luctus lectus</h2>
            <p>Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo. Pellentesque imperdiet. In posuere  odio quisque semper augue mattis maecenas ligula.</p>
        </div>
    </div>
    <div id="fbox2">
        <div class="box-content">
            <h2 class="title title03">Maecenas luctus lectus</h2>
            <p>Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo. Pellentesque imperdiet. In posuere eleifend odio  semper  mattis wisi maecenas ligula.</p>
        </div>
        <div>
            <h2 class="title title04">Nulla luctus eleifend</h2>
            <p>Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci eget, tempus quis.</p>
        </div>
    </div>
</div>
