<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <style>
        * {
            cursor: none;
        }
    </style>

</head>
    <body>
        @RenderBody()   
        <script src="~/Scripts/js/core/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/js/core/three.js"></script>
        <script src="~/Scripts/js/core/pointerLockControls.js"></script>

        <script src="~/Scripts/js/core/math/matrix.js"></script>
        <script src="~/Scripts/js/core/math/rotateCenter.js"></script>

        <script src="~/Scripts/js/app/planets/main.js"></script>
        <script src="~/Scripts/js/app/planets/earth.js"></script>
        <script src="~/Scripts/js/app/planets/moon.js"></script>
        <script src="~/Scripts/js/app/planets/starfield.js"></script>
        <script src="~/Scripts/js/app/planets/sun.js"></script>
        <script src="~/Scripts/js/app/planets/deathStar.js"></script>


        <script src="~/Scripts/js/app/app.js"></script>
        <script src="~/Scripts/js/app/init.js"></script>
    </body>
</html>
