@section scripts
{
    <script>
        //var audio = document.getElementById("audio-player");

        //audio.addEventListener("timeupdate", function () {

        //    var duration = document.getElementById('duration');

        //    var s = parseInt(audio.currentTime % 60);

        //    var m = parseInt((audio.currentTime / 60) % 60);

        //    duration.innerHTML = m + '.' + s + 'sec';

        //}, false);

    </script>


}

<h2>Audio</h2>

@*<audio>
    <source src="~/Files/audio/2013-12-02_09-33-07_2gis-out_311_202_1385962387.78801.wav" type='audio/wav; codecs="1"'>
    <source src="elvis.oga" type='audio/ogg; codecs="vorbis"'>
    <!-- здесь - добавить запасные варианты тегов -->
</audio> id="audio-player" name="audio-player" *@
<audio src="~/Files/audio/2gis.wav" controls>
    <source src="sound.wav" type="audio/wav">
    <source src="sound.mp3" type="audio/mp3">
</audio>

<audio src="~/Files/audio/Kalimba.mp3" controls>
    <source src="sound.wav" type="audio/wav">
    <source src="sound.mp3" type="audio/mp3">
</audio>

@*<div id="message"></div>

<a id="play-bt" href="#">Play music</a> |

<a id="pause-bt" href="#">Pause music</a> |

<a id="stop-bt" href="#">Stop music</a>

<span id="duration"></span>*@
