<link rel="stylesheet" href="/Content/qunit-1.12.0.css" />

@section scripts
{
    <script src="@Url.Content("~/Scripts/System/qunit-1.12.0.js")"></script>
    <script src="@Url.Content("~/Scripts/MyScripts/Native/Linq/native.internalfun.linq.js")"></script>
    <script src="@Url.Content("~/Scripts/MyScripts/Native/Linq/internalfun.tests.js")"></script>
}

<h1 id="qunit-header">Комплект тестов Linq для внутренних функций</h1>
<h2 id="qunit-banner"></h2>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
