@section scripts
{
    <script src="~/Scripts/MyScripts/Native/MutationObserver/native.mutation.observer.js"></script>
}

<h2>MutationObserver</h2>

<input type="text" value="0" />
<input type="button" value="Нажать" id="addTextBox"/>