@section scripts
{
    <script src="~/Scripts/MyScripts/objects.js"></script>
}

<h2>Objects</h2>

<div id="prototype">
    <span data-bind="text: name"></span>

    <input type="text" data-bind="value: comment" />
    <span data-bind="text: comment"></span>
</div>
