<h2>Регулярные выражения</h2>

<span>Введите регулярное выражение:</span><br />
<textarea id="regular"></textarea><br />
<span>Введите текст:</span><br />
<textarea id="text"></textarea>
<button id="handle">Обработать</button>
<hr />
<span>Результат:</span>
<textarea id="result"></textarea>

<script src="@Url.Content("~/Scripts/MyScripts/Native/native.regular.js?" + Guid.NewGuid())"></script>
