@section scripts
{
    <script src="~/Scripts/MyScripts/Native/Table/native.table.js"></script>
    <script src="~/Scripts/MyScripts/Native/Table/native.data.js"></script>
}

<h2>Tables</h2>

<table id="myTable"></table>
