@section scripts
{
    <script src="@Url.Content("~/Scripts/MyScripts/Native/Linq/native.linq.js")"></script>
    <script src="@Url.Content("~/Scripts/MyScripts/TS/helloWorld.js")"></script>
    <script src="@Url.Content("~/Scripts/MyScripts/Native/Linq/MainTitles.js")"></script>
    <script src="@Url.Content("~/Scripts/MyScripts/Native/Linq/List.js")"></script>
}

<h2>LinqJS</h2>

<div>
    <ul id="titles"></ul>
</div>