@section scripts{
    
    <script src="~/Scripts/MyScripts/Angular/admin/app.js"></script>
    <script src="~/Scripts/MyScripts/Angular/admin/services.js"></script>
    <script src="~/Scripts/MyScripts/Angular/admin/controllers.js"></script>
    <script src="~/Scripts/MyScripts/Angular/admin/directives.js"></script>
}

<div ng-app="admin">
    <div ng-view></div>
</div>