.pagination {
    display: inline-flex;
    height: 36px;
    margin: 18px 0;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

    .pagination ul {
        list-style-type: none;
        margin-top: 0;
        padding-left: 20px;
        display: inline-flex;
        margin-left: 0;
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }

        .pagination ul li {
            display: inline;
            cursor: pointer;
        }

            .pagination ul li a {
                padding: 5px 10px;
                border: 1px solid lightgray;
                -moz-user-select: none;
                user-select: none;
            }

                .pagination ul li a:hover {
                    background: lightgrey;
                    color: black;
                }

                .pagination ul li a.active {
                    background: lightgrey;
                    color: black;
                }
