@section scripts
{
    <script src="~/Scripts/require.js"></script>
    <script src="~/Scripts/MyScripts/Require/main.js"></script>
}

<div id="container">
    <h1>My users</h1>
    <nav><a href="#list">List</a> - <a href="#add">Add</a></nav>
    <div id="app"></div>
</div>
