@section scripts
{
    <script src="@Url.Content("~/Scripts/MyScripts/TS/ProductsViewModel.js")"></script>
}

<h2>Продукты</h2>

<table>
    <thead>
        <tr><td class="center">Название</td><td class="center">Цена</td><td class="center">Количество</td><td class="center">Сумма</td></tr>
    </thead>
    <tbody id="products">
        
    </tbody>
    <tfoot id="productFooter">
        <tr><td colspan="4">-------------------------------------------------------</td></tr>
    </tfoot>   
</table>
