<h2>Информация, юридическая, по использованию</h2>

<a href="~/Account/AdminSetup" >Установить администратора </a><br />
<a href="~/Account/ChangePassword" >Изменить пароль </a><br />
<a href="~/Account/EditUser" >Редактировать пользователя</a><br />
<a href="~/Account/Register" >Регистрация нового пользователя</a><br />
<a href="~/Account/RolesView">Роли </a><br />

<script src="@Url.Content("~/Scripts/Menu/Information.js")" type="text/javascript"></script>

