<h2>Замыкания</h2>

<h4>Стрелки</h4>
<span>Введите номер стрелка:</span><input type="text" id="nShooter"/> <button id="showShooter">Вывести номер</button><hr />
<span>Вы ввели: </span><span id="outputShooter"></span>


<script src="~/Scripts/MyScripts/native.closure.js"></script>