@section scripts{
    <script src="@Url.Content("~/Scripts/MyScripts/massiv.js")"></script>
}

<h2>Массивы</h2>

<h4>Массивы найти элемент в массиве.</h4>
<span>Массив: </span><span id="elsInAr"></span><br />
<span>Введите элемент в массиве: </span><input type="text" id="el" />
<button id="Find">Найти</button><hr />
<span>Результат: </span><span id="elInAr"></span><hr />

<h4>Решето Эристофена</h4>
<span>Введите количество элементов в массиве: </span><input type="text" id="numberEristofen" /><br />
<span>Вывести все простые числа в массиве </span>
<button id="getArrayPrime">Вывести</button><hr />
<span>Результат</span><br /><span>Массив: </span><span id="arPrime"></span><br />
<span>Количество элементов: </span><span id="countInEristofen"></span><br />
<span>Сумма элементов: </span><span id="sumEristofen"></span><hr />
