<h2>Learn Canvas</h2>

<div>
    <ul>
        <li>Chapter 1</li>
        <li><a href="@Url.Content("~/Canvas/ChapterOne")">Chapter 1: Introduce to Canvas</a></li>
        <li><a href="@Url.Content("~/Canvas/GuessTheLetter")">Chapter 1: Fade in and fade out</a></li>
        <li>Chapter 2</li>
        <li><a href="@Url.Content("~/Canvas/SetTransform")">Chapter 2: setTransform to Canvas</a></li>
    </ul>
</div>
