<div class="desc">
    <p>
        Информация о последних ставках. 
        <ul>
            <li>Ставка 1</li>
            <li>Ставка 1</li>
            <li>Ставка 1</li>
            <li>Ставка 1</li>
        </ul>
    </p>
</div>
