<div id="sidebar">
            <h2>Последние новости</h2>
            <ul class="latest">
                <li><a href="/">Новость 1</a></li>
                <li><a href="/">Новость 2</a></li>
                <li><a href="/">Новость 2</a></li>
                <li><a href="/">Новость 2</a></li>
                <li><a href="/">Новость 2</a></li>
                <li><a href="/">Новость 2</a></li>
            </ul>
            <h2>Поиск по сайту:</h2>
            <input />
            <h2>Дополнительная информация</h2>
            <p>Надо подумать есть ли в ней смысл, если да, то какая информация будет здесь.</p>
            <h2>Дополнительные ссылки</h2>
            <ul class="external">
                <li><a href="/">Six Shooter Media</a></li>
                <li><a href="/">free templates</a></li>
                <li><a href="/">Buy a Button</a></li>
                <li><a href="/">Transfer Speculation</a></li>
            </ul>
        </div>